* {
    margin: 0;
    padding: 0;
    font-family: "Glory";
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    color: var(--text-main);
}

/* control color with light/dark mode */

:root {
    --main: #add8e6;
    --text-main: #000000;
    --section: #eaeadb;
    --section-dark: #d1d3b5;
    --section-darker: #a0a189;
    --button: #8aa7b6;
    --cs: #D6D4CF;
    --hp: #F2E9D0;
    --ar: #F0DACE;
    --od: #D3D3E6;
    --sr: #FBE9F4;
    --length: #F2F2ED;
    --favorite: #D5F0DB;
    --map-card: rgb(255 255 255 / 0.5);
    --details: #deec96;
    --view: #add8e6;
    --edit: #90ee90;
    --delete: #e37971;
    --link-osu: #ffb6c1;
}

body.dark-mode {
    --main: #355058;
    --text-main: #ffffff;
    --section: #37372d;
    --section-dark: #28281e;
    --section-darker: #1e1e14;
    --button: #2a3639;
    --cs: #2B2A28;
    --hp: #3C3626;
    --ar: #4A352E;
    --od: #2F2F3E;
    --sr: #422E3D;
    --length: #2E2E2B;
    --favorite: #1F3227;
    --map-card: rgb(0 0 0 / 0.5);
    --details: 	#2E3921;
    --view: #2a5d89;
    --edit:	#2f7a4d;
    --delete: #8a1d15;
    --link-osu: #8a4b5d;
}

.button {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1rem;
}

.button-mini {
    width: 70px;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fsize-20 {
    font-size: 1.25rem;
}

.fsize-24 {
    font-size: 1.5rem;
}

.fsize-32 {
    font-size: 2rem;
}

.title-container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    width: 100%;
    border-radius: 20px;
    background-color: var(--section-dark);
    box-shadow: 2px 2px 10px var(--section-dark);
}

/* pagination */

nav {
    width: 100%;
}

.pagination {
    width: 100%;
    flex-wrap: wrap;
    list-style-type: none;
}

.pagination li, .per_page {
    padding: 10px;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--section-dark);
    box-shadow: 2px 2px 10px var(--section-dark);
}

.page-hover {
    border: 2px solid rgba(0,0,0,0.5) !important;
    background-color: var(--section-darker) !important;
    box-shadow: 2px 2px 10px var(--section-darker) !important;
}

/* error text and error images */

.error {
    color: red;
    font-size: 14px;
}

.error-img {
    height: 500px;
    width: auto;
}

/* hiding elements */

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

/* removing formatting for links/buttons */

.no-link {
    text-decoration: none;
}

.no-link, .no-button {
    cursor: pointer;
    color: inherit;
}

.no-button {
    border: none;
    background-color: inherit;
    font-size: inherit;
}

/* flex */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-x-center {
    justify-content: center;
}

.flex-y-center {
    align-items: center;
}

.flex-f-center {
    justify-content: center;
    align-items: center;
}

/* padding & gaps */

.m-auto {
    margin: 0 auto;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.g-3 {
    gap: 3px;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

.g-30 {
    gap: 30px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--main);
    box-shadow: 0px 2px 5px var(--main);
    position: relative;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

.h-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.h-button {
    background-color: var(--button);
    box-shadow: 2px 2px 5px var(--button);
}

.h-right {
    align-items: stretch;
}

#darkMode {
    cursor: pointer;
}

#dark, #light {
    width: 24px;
    height: auto;
}

#light, #iconLight {
    display: none;
}

/* SECTION */

h1 {
    padding: 20px;
}

section {
    min-height: 1000px;
    background-color: var(--section);
    box-shadow: 2px 2px 5px var(--section);
    text-align: center;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    height: 60px;
    background-color: var(--main);
    box-shadow: 0px -2px 5px var(--main);
}

#copyright {
    font-size: 1.2rem;
    padding: 20px;
}

/* TABLES */

table, td, tr, th {
    margin: 0 auto;
    border-collapse: collapse;
    padding: 10px;
}

.table-container {
    overflow-x: auto;
}

/* FORMS */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    height: auto;
}

label {
    min-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 400px;
    font-size: 1.2rem;
    background-color: var(--section-dark);
    box-shadow: 2px 2px 5px var(--section-dark);
}

.input-container {
    width: 100%;
    height: 40px;
}

.input-settings input {
    min-width: 80px;
    width: 100%;
    max-width: 125px;
}

.input-tags {
    height: auto;
}

.input-tags label {
    height: 40px;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* .input-tags {
    height: auto;
}

.input-tags label {
    height: 100%;
    display: flex;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 40px;
}

.tag-container {
    display: flex;
    align-items: center;
} */

textarea {
    resize: none;
}

input, textarea, select {
    min-width: 200px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    max-width: 600px;
    padding: 10px;
    border-radius: 20px;
}

textarea, select {
    overflow: clip;
}

input[type="file"] {
    width: 100%;
    max-width: 250px;
}

.input-media {
    height: auto;
}

.input-media-container {
    width: 100%;
    height: 100%;
    max-width: 330px;
    max-height: 128px;
}

.input-media-container img {
    width: auto;
    height: 128px;
    object-fit: contain;
}

/* home */

.home-container {
    max-width: 450px;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* details */ 

.details-container {
    max-width: 1200px;
    margin: 0 auto;
}

.details-data {
    width: 100%;
    height: 100%;
    max-height: 150px;
}

.details-key {
    background-color: var(--section-dark);
    box-shadow: 2px 2px 5px var(--section-dark);
    min-width: 100px;
    width: 100%;
    max-width: 400px;
}

.details-value {
    width: 100%;
    min-width: 40px;
    background-color: var(--details);
    box-shadow: 2px 2px 5px var(--details);
}

.details-bg, .details-banner {
    height: 300px;
}

.details-bg img, .details-banner img, .profile img {
    object-fit: cover;
    object-position: center;
}

.details-bg img, .profile img {
    border-radius: 20px;
}


.details-banner img {
    border-radius: 20px 20px 0 0;
}

.details-bg img, .details-banner img {
    width: 100%;
    height: 100%;
}

.profile img {
    width: 90%;
    height: 90%;
}

.return {
    background-color: var(--section-dark);
    box-shadow: 2px 2px 5px var(--section-dark);
}

.profile {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    background-color: var(--section-darker);
    border-radius: 20px;
    top: 200px;
    left: 50px;
}

.details-profile {
    justify-content: space-around;
    flex: 1 1 0;
    background-color: var(--section-dark);
    box-shadow: 2px 2px 5px var(--section-dark);
    width: 100%;
    height: 100px;
    padding: 20px 20px 20px 220px;
    border-radius: 0 0 20px 20px;
}

.username {
    text-align: left;
}

.stats {
    align-items: flex-start;
}

.username, .stats {
    width: 100%;
}

.profile-mobile {
    display: none;
}

/* MAP LIST */

.map-container {
    min-width: 250px;
    max-width: 1200px;
    margin: 0 auto;
}

.map-card {
    margin: 0 auto;
    gap: 20px;
    border-radius: 30px;
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.map-card-compact {
    margin: 0 auto;
    gap: 20px;
    border-radius: 20px;
    width: 100%;
    height: 90px;
    background-size: cover;
    background-position: center;
}

/* selecting maps in the playlist add page */

input[type="checkbox"]:checked + .map-card-compact {
    outline: 2px solid green;
    filter: drop-shadow(2px 2px 5px olive);
}

.map-data {
    background-color: var(--map-card);
    box-shadow: 2px 2px 5px var(--map-card);
    border-radius: 20px;
    height: 100%;
    width: 60%;
}

.map-data-compact {
    background-color: var(--map-card);
    box-shadow: 2px 2px 5px var(--map-card);
    border-radius: 20px;
    height: 100%;
    width: 50%;
}

.map-data span, .map-settings-card span, .map-settings-card-compact span {
    display: flex;
    align-items: center;
    height: 50%;
    font-weight: bold;
}

.map-data-compact span {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Cabin";
    text-align: left;
}

.map-data span {
    font-family: "Cabin";
    font-size: clamp(0.9rem, 3vw, 1.4rem);
    text-align: left;
}

.map-right-container {
    justify-content: space-between;
    width: 50%;
}

.map-settings-card span {
    justify-content: center;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
}

.map-settings-card-compact span {
    justify-content: center;
    font-size: clamp(0.8rem, 3vw, 1rem);
}

.map-settings {
    justify-content: space-between;
    height: 60%;
    gap: 20px;
}

.map-settings-compact {
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.map-settings-card {
    border-radius: 10px;
    height: 100%;
}

.map-settings-card-compact {
    border-radius: 10px;
    height: calc(50% - 5px);
}

.small-card {
    width: 40px;
}

.medium-card {
    width: 60px;
}

.large-card {
    width: 80px;
}

.map-actions {
    width: 100%;
    justify-content: space-around;
}

.map-actions-card {
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.map-actions-card-compact {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.view {
    background-color: var(--view);
}

.edit {
    background-color: var(--edit);
    box-shadow: 2px 2px 5px var(--edit);
}

.delete {
    background-color: var(--delete);
    box-shadow: 2px 2px 5px var(--delete);
}

.link-osu {
    background-color: var(--link-osu);
    box-shadow: 2px 2px 5px var(--link-osu);
}

#cs {
    background-color: var(--cs);
    box-shadow: 1px 1px 5px var(--cs);
}

#hp {
    background-color: var(--hp);
    box-shadow: 1px 1px 5px var(--hp);
}

#ar {
    background-color: var(--ar);
    box-shadow: 1px 1px 5px var(--ar);
}

#od {
    background-color: var(--od);
    box-shadow: 1px 1px 5px var(--od);
}

#sr {
    background-color: var(--sr);
    box-shadow: 1px 1px 5px var(--sr);
}

#length {
    background-color: var(--length);
    box-shadow: 1px 1px 5px var(--length);
}

#favorite {
    background-color: var(--favorite);
    box-shadow: 1px 1px 5px var(--favorite);
}

#favorite-compact {
    background-color: var(--favorite);
    box-shadow: 1px 1px 5px var(--favorite);
    margin-top: auto;
    margin-bottom: auto;
}

#heart-icon {
    width: 30px;
    height: 30px;
}

#heart-icon-compact {
    width: 20px;
    height: 20px;
}

.favorite {
    width: 100px;
}

/* PLAYLIST LIST */

.playlist-container {
    min-width: 250px;
    max-width: 1200px;
    margin: 0 auto;
}

.playlist-header {
    width: 100%;
    border-radius: 20px;
    background-color: var(--section-dark);
    box-shadow: 2px 2px 10px var(--section-dark);
}

.playlist-header, .playlist-informations {
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
}

.playlist-header span, .playlist-information {
    width: 100%;
}

.playlist-description {
    height: 100%;
    font-size: 1.1rem;
}

.playlist-description span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.playlist-card {
    margin: 0 auto;
    border-radius: 30px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: var(--section-dark);
    box-shadow: 2px 2px 10px var(--section-dark);
}

.playlist-icon {
    display: none;
}

.playlist-thumbnails {
    width: 100%;
    padding: 20px 60px;
    justify-content: flex-start;
}

.thumbnail {
    flex: 0 0 calc((100% - (5 * 45px)) / 6);
    height: 72px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.thumbnail-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

/* VIEW */

.key {
    font-weight: bold;
}

.value {
    font-weight: normal;
}

/* MEDIA QUERIES */

@media (max-width: 1400px) {
    /* removes action text */
    .h-action {
        display: none;
    }
    
    /* reduces gap between elements */
    .h-center, .h-right {
        gap: 10px;
    }
}

@media (max-width: 1100px) {
    .map-settings {
        width: 100%;
        height: 100%;
    }
    
    .map-card {
        flex-direction: column;
        height: 250px;
    }

    .map-data {
        width: 100%;
    }

    .map-right-container {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .map-actions {
        justify-content: flex-end;
    }

    .map-actions-card {
        width: auto;
        height: 100%;
    }

    .favorite {
        width: auto;
    }

    .action {
        display: none;
    }
}

@media (max-width: 900px) {
    .map-card {
        height: 300px;
    }

    .map-right-container {
        flex-direction: column;
    }

    .map-settings-card {
        flex-direction: row;
        gap: 5px;
        width: 100%;
    }

    .map-actions {
        justify-content: space-between;
    }

    .map-actions-card {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .details-profile {
        padding: 20px;
        height: 150px;
    }

    .profile {
        display: none;
    }

    .profile-mobile {
        display: block;
    }
    
    .playlist-header {
        display: none;
    }

    .playlist-description {
        border-top: 2px dashed rgba(0,0,0,0.3);
    }

    .playlist-informations {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .playlist-information {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .playlist-information span {
        display: flex;
        width: 60%;
    }

    .playlist-icon {
        display: flex;
        justify-content: center;
        background-color: var(--section-darker);
        box-shadow: 3px 3px 5px var(--section-darker);
        width: 40%;
    }
}

@media (max-width: 800px) {
    /* changes flex direction, reduces space */
    header {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    header h1 {
        padding: 10px;
    }

    .h-left, .h-center, .h-right {
        width: 100%;
    }

    .h-left {
        justify-content: center;
    }

    /* removes transform and takes horizontal space */
    .h-center {
        transform: none;
        justify-content: space-between;
        position: static;
    }

    /* make buttons take the entire width */
    .h-center > a, .h-right > a {
        width: 100%;
    }

    .h-action {
        display: block;
    }

    /* centers buttons */
    .h-right {
        justify-content: center;
    }

    .details-profile {
        flex-direction: column;
        height: auto;
    }

    .username {
        text-align: center;
    }

    .stats {
        align-items: center;
    }

    .username, .title {
        font-size: clamp(1.25rem, 5vw, 2rem);
    }

    .playlist-thumbnails {
        flex-wrap: wrap;
        padding: 20px;
        gap: 10px;
    }

    .thumbnail {
        flex: 0 1 auto;
        width: calc(50% - 5px);
        height: 48px;
    }
    
    .thumbnail-more {
        width: 100%;
    }

    .map-card {
        height: auto;
    }

    .map-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map-settings-card, .map-actions-card {
        width: calc(50% - 10px);
    }

    .map-settings, .map-actions {
        flex-wrap: wrap;
    }

    #heart-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 550px) {

    .settings {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .button-mini {
        min-width: 40px;
        min-height: 50px;
        width: calc(50% - 10px);
    }

    .h-action {
        display: none;
    }

    .playlist-information span {
        font-size: clamp(0.8rem, 4vw, 1.2rem);
    }
}